@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 134 83% 98%;
    --foreground: 134 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 134 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 134 84% 4.9%;

    --primary: 134 47% 32%;
    --primary-foreground: 134 40% 98%;

    --secondary: 339 90% 70%;
    --secondary-foreground: 134 40% 98%;

    --muted: 134 40% 96.1%;
    --muted-foreground: 134 16.3% 46.9%;

    --accent: 339 90% 70%;
    --accent-foreground: 134 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 134 40% 98%;

    --border: 134 31.8% 91.4%;
    --input: 134 31.8% 91.4%;
    --ring: 134 47% 32%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 134 47% 32%;
    --foreground: 134 40% 98%;

    --card: 134 84% 4.9%;
    --card-foreground: 134 40% 98%;

    --popover: 134 84% 4.9%;
    --popover-foreground: 134 40% 98%;

    --primary: 134 40% 98%;
    --primary-foreground: 134 47.4% 11.2%;

    --secondary: 339 90% 70%;
    --secondary-foreground: 134 40% 98%;

    --muted: 134 32.6% 17.5%;
    --muted-foreground: 134 20.2% 65.1%;

    --accent: 339 90% 70%;
    --accent-foreground: 134 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 134 40% 98%;

    --border: 134 32.6% 17.5%;
    --input: 134 32.6% 17.5%;
    --ring: 134 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}